  BODY {
    font-family: sans-serif;
    padding-left: 20px;
  }

  H2, H3 {
    font-weight: 300;
    color:#666;
  }

  H3:hover {
    cursor: pointer;
    color:#000;
  }

  LI {
    //list-style: none;
    margin: 10px;
  }

SECTION {
  line-height: 160%;
  font-size: 13px;
  max-width: 800px;
}

BUTTON {
  border: none;
  background-color: #ccc;
  height: 30px;
  width: 130px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 0px 20px;
  margin: 10px 2px;
}


.hide {
  display: none;
}

.show {
  display: inline-block;
}
INPUT {
  width: 800px;
  height: 30px;
  padding:0 5px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  margin: 2px;
}

TEXTAREA {
  width: 800px;
  height: 200px;
  padding: 5px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  margin: 2px;
}
